body{
    background-color: #1c3156;
}

/* CONTAINER GLOBAL */
.container-global{
    display: flex;
    justify-content: center;
    background-color: #1c3156;

}

.formulario{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-flow: column;
    padding: 30px 3% 30px 30px;
    width: 300px;
    height: 300px;
    background-color: #730202;
    border-radius: 20px;
    color: aliceblue;
    font-size: 22px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.formulario img{
    display: flex;
    align-self: center;
    margin-bottom: 20px;
}

.formulario input{
    display: flex;
    justify-content: center;
    height: 22px;
    border-radius: 20px;
    border: aliceblue 1px solid;

}

.bullets{
    display: flex;
    flex-flow: row;
    justify-items: center;
    width: auto;
    height: 100px;
}


/* CSS DO HOME */
.topo{
    display: flex;
    justify-content: space-between;
    background-color: #3670a8;
    height: 50px;
    width: auto;
    border-radius: 20px;
    padding: 10px 10px 10px 10px;
}

.topo label{
    margin-top: 8px;
    font-size: 22px;
    color: #ffffff;
}

/* SAIR */
.topo a{
    width: 40px;
    height: 40px;
}

/* ESTILIZAÇÃO DOS BOTÕES */
.menu{
    display: flex;
    justify-content: space-evenly;
    align-content:center;
    flex-flow: row wrap;
    margin-top: 30px;
    font-size: 30px;
    text-decoration: none;
}

.menu a{
    background-color: #0092ba;
    width: 300px;
    height: 300px;
    margin: 30px 30px 30px 30px;
    border-radius: 20px;
    text-align: center;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    transition: transform .7s;
}

.menu a:hover {
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1); 
  }



.menu img{
    margin-bottom: 30px;
    border-radius: 20px;
}

  
  .menu .tooltiptext {
    margin-top: 260px ;
    width: 200px;
    background-color: #fff;
    color: #020202;
    font-size: medium;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
  
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
  }


/* AJUSTANDO TABELAS */
.container-listausuarios, .container-listacliente{
    display: flex;
    flex-flow: column;
    align-content: center;
    align-items: center;

}

.lista{
    display: flex;
    flex-flow: row;
    justify-content: center;
    background-color: #0092ba;
    padding: 20px;
    border-radius: 10px;
    border-collapse: collapse;
    width: auto; /*SUGESTÃO MATHEUS*/
    height: auto;
    
}
td, tr, th{
    color: #ffffff;
    border: #fff 2px solid;
    font-size: 25px;
    padding: 15px;
    text-align: center;
}

.btnsair{
    transition: transform .2s;
}
.btnsair a:hover {
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1); 
  }

  /* ADICIONAR APENAS ESSES ROLÊS AQUI EM BAIXO SE SEU CSS FOR PESSOAL */
  /* CENTRALIZANDO RADIO BUTTONS NAS LISTAS */

  /* LISTA CLIENTE RADIOS */
.container-listacliente, .container-listausuarios form{
    margin-top: 5px;
    display: flex;
    justify-content: center;
    flex-flow: row;
    background-color: white;
    width: auto;
    border-radius: 20px;
    padding: 10px;
    
}