body{
    background-color: #d97904;
}

/* CONTAINER GLOBAL */
.container-global{
    display: flex;
    justify-content: center;

}

.formulario{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-flow: column;
    padding: 30px 3% 30px 30px;
    width: 300px;
    height: 300px;
    background-color: #730202;
    border-radius: 20px;
    color: aliceblue;
    font-size: 22px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.formulario img{
    display: flex;
    align-self: center;
    margin-bottom: 20px;
}

.formulario input{
    display: flex;
    justify-content: center;
    height: 22px;
    border-radius: 20px;
    border: aliceblue 1px solid;

}

/* CSS DO HOME */
.topo{
    display: flex;
    justify-content: space-between;
    background-color: #730202;
    height: 50px;
    width: auto;
    border-radius: 20px;
    padding: 10px 10px 10px 10px;
}

.topo label{
    font-size: 30px;
    color: #ffffff;
}

/* SAIR */
.topo a{
    width: 40px;
    height: 40px;
}

/* ESTILIZAÇÃO DOS BOTÕES */
.menu{
    display: flex;
    justify-content: space-evenly;
    align-content:center;
    flex-flow: row wrap;
    margin-top: 30px;
    font-size: 30px;
    text-decoration: none;
}

.menu a{
    background-color: #7e1010;
    width: 300px;
    height: 300px;
    margin: 30px 30px 30px 30px;
    border-radius: 20px;
    text-align: center;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}

.menu img{
    border-radius: 20px;
}

  
  .menu .tooltiptext {
    margin-top: 260px ;
    width: 200px;
    background-color: rgba(255, 255, 255, 0.473);
    color: #020202;
    font-size: medium;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
  
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
  }


/* AJUSTANDO TABELAS */
.container-listausuarios {
    display: flex;
    flex-flow: column;
    align-content: center;
    align-items: center;

}

.lista{
    background-color: rgb(47, 34, 21);
    border-radius: 20px;
    border-collapse: collapse;
    width: 100%;
    height: auto;
    
}
td, tr, th{

    color: whitesmoke;
    border: whitesmoke 1px solid;
    font-size: 20px;
}
